/* Body */
*{
    margin:0px ;
    padding:0px;
    box-sizing: border-box;}

.bg-violet{
    background-color: #ffffff;
    font-size: 2rem;
}

/* selector de etiqurta h1para animacion */
p{
    animation: 2s;
    animation-name: aparecer;
    animation-name: moveToRight;
    animation-iteration-count: infinite;
    animation: moveToRight 1s ease-in-out;
    animation-delay: 10ms;
    }
    @keyframes aparecer {
        100%{ color: #0a141d;     
            opacity: 0;
        }
        100%{color: #00a2ff;
            opacity:1;
        }
    }
    @keyframes moveToRight {
            0% {
                transform: translatey(0px);
            }
            100% {
                transform: translatey(20px);
            }
    }

/* Seccion del navegador */
a:hover {text-shadow: 0 0 5px rgba(22, 71, 235, 0.514);
}

#navbarSupportedContent{
    font-size: 1rem;
}

/* Seccion del Carrusel */
.header{
    padding-top: 10vh;
}
/* seccion cards */

.card{
    margin-top: 100px;
    background: rgb(214, 220, 247);
    background: radial-gradient(line, rgb(142, 159, 241) 50%, rgb(84, 187, 238) 100%);
    
}
.parrafo{
    text-align: center;
    font-size: 1.5rem;
}
/* pagina agendamiento */
.main {
    color: #36A0FF;
    font-size: 20px;
    padding: 20vh;
    
}
.parrafo {
    text-align: center;
    color: black;
}

.album h2{
    color: black;
    font-size: 4vh;
    
}       
.boton{
    margin-left: 7px;
    padding-top: 10px;

}
footer
{background-color: #3e3edb50;
}
/* pagina servicios */

body {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}
/* reutilizacion estilo para espaciado */
.pad{
padding-top: 15vh; 
margin-bottom: 10vh;
}
.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}